<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfee.CrystalReports.Log4Net" version="13.0.3501.1" targetFramework="net45" />
  <package id="Cfee.CrystalReports.Shared" version="13.0.3501.1" targetFramework="net45" />
  <package id="Cfee.CrystalReports.Web" version="13.0.3501.1" targetFramework="net45" />
  <package id="CrystalDecisions.CrystalReports" version="13.0.25.3158" targetFramework="net45" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportAppServer" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportAppServer.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net45" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net45" />
  <package id="CrystalReports.AxShockwaveFlashObjects" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.Design" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.Engine" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.Enterprise.Viewing.ReportSource" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ReportSource" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.Shared" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.ShockwaveFlashObjects" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.TemplateEngine" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.VisualStudio2015.x64" version="2.0.0" targetFramework="net45" />
  <package id="CrystalReports.Web" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.Windows.Forms" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.WPF.Viewer" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReports.WPF.ViewerShared" version="13.0.4000" targetFramework="net45" />
  <package id="CrystalReportWindowsRefLib" version="10.5.3700.1" targetFramework="net45" />
  <package id="DotVVM.Contrib.CrystalReportViewer" version="2.3.2" targetFramework="net45" />
  <package id="EnvDTE" version="16.7.30508.193" targetFramework="net45" />
  <package id="EnvDTE80" version="16.7.30328.74" targetFramework="net45" />
  <package id="Gimba.CrystalReports.64bits" version="1.0.0" targetFramework="net45" />
  <package id="Gmg.CrystalDecisions" version="1.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="MySqlBackup" version="1.0.1" targetFramework="net45" />
  <package id="Neodynamic.SDK.Barcode" version="8.0.20.929" targetFramework="net45" />
  <package id="stdole" version="16.7.30508.193" targetFramework="net45" />
</packages>